<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeJQuery() %>
<% helpers.includeJs("pro/signin-client.js") %>
<% helpers.includeCss("pro/account.css") %>
<% helpers.setHtmlTitle(appjet.config.customBrandingName +": Sign In") %>


<div class="fpcontent">
  <div class="account-container">

  <%= signinNotice() %>

  <form id="signin-form" action="<%= request.path + '?' + request.query %>" method="post">
  <input type="hidden" name="assertion" value="" /> 
  <div class="bb bb-signin">
    <div class="bb-top">
      <div class="bb-topleft"><!-- --></div>
      <div class="bb-topright"><!-- --></div>
      <div class="bb-title">Sign In to <%= siteName %> <%= appjet.config.customBrandingName %></div>
    </div>
    <div class="bb-in">
      <%= errorDiv() %>
      <div>
        <%= helpers.clearFloats() %>
      </div>

      <div>
        <div id="welcome-browserid" class='one-time-alert' style="display: none">
          <h3>Signin with BrowserID</h3>
          <p>We've upgraded how you login.<br /><strong>Say buh bye to passwords</strong> and use
             BrowserID across the web.</p>
<p>Use the <strong>same email address</strong> you've always <strong>used on Mopad</strong>.</p>
          <p>Thanks,<br />
             Etherpad team</p>
        </div>
        <%= helpers.clearFloats() %>
      </div>

      <div>
        <button type="submit" class="bluebutton bluebutton120" id="signInButton">
          Sign In
        </button>
        <%= helpers.clearFloats() %>
      </div>

    </div>
  </div>
  </form>

  <div id="bottom-text">
      <a
      href="/ep/account/request-account">Request new account</a>
  </div>

  </div>
</div>

<script src="https://login.persona.org/include.js"></script>
